body {
    margin-top: 20px;
    background-color: white;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.btn-success {
    background-color: #005f00 !important; /* Темно-зеленый цвет фона */
    color: white !important; /* Белый цвет текста */
    border-color: #005f00 !important; /* Цвет границы */
}
